<ion-content class="container">
  <ion-grid>
    <div>
      <ion-row class="ion-justify-content-center" style="padding-top: 50px;">
        <ion-avatar *ngIf="!photo" class="image">
          <ion-img class="circle-pic" ng-src=""></ion-img>
        </ion-avatar>

        <ion-avatar *ngIf="photo" class="image">
          <img class="circle-pic" [src]="photo"/>
        </ion-avatar>
      </ion-row>
  
      <ion-row 
        class="ion-justify-content-center" 
        style="margin-bottom: 20px"
        >
        <ion-label 
          style="
            margin-top : 10px;
            color: black;
            font-size: 12px;
            margin-bottom: 12px;"
            (click)="changePicture()">GANTI FOTO PROFIL</ion-label>
        <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>
      </ion-row>
      
      <ion-row class="ion-justify-content-center" style="margin-bottom: 20px">
        <ion-col size="10" offset="1">
          <ion-label style="color: #ec524b;">Nama {{fullname}}</ion-label>
        </ion-col>
          <div class="textFieldContainer">
            <ion-input
              [(ngModel)]="nameText"
              class="textInput"
              placeholder="Nama">
            </ion-input>
          </div>
  
        <!-- <ion-col size="10" offset="1">  
          <ion-label style="color: #ec524b;">Username </ion-label>
        </ion-col>
          <div class="textFieldContainer">
            <ion-input 
              [(ngModel)]="usernameText"
              class="textInput"
              placeholder="Username"
              type="text">
            </ion-input>
          </div>
         -->
        <ion-col size="10" offset="1">
          <ion-label style="color: #ec524b;">Password Baru</ion-label>
        </ion-col>
          <div class="textFieldContainer">
            <ion-input 
              [(ngModel)]="passwordText"
              class="textInput"
              placeholder="Password"
              type="password">
            </ion-input>
          </div>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-button
          (click)="simpanProfile()"
          style="
            width: 40%; 
            --border-radius: 25px;
            --background: #9ad3bc;
            --background-activated: #9ad3bc;
            --background-focused: #9ad3bc;
            --color: black;"
        >SIMPAN
        </ion-button>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-button
          (click)="toLogout()"
          style="
            width: 40%; 
            --border-radius: 25px;
            --background: #ec524b;
            --background-activated: #ec524b;
            --background-focused: #ec524b;
            --color: white;"
        >KELUAR
        </ion-button>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
