<ion-content>
  <div
    style="
      display: flex;
      height: 50%;
      background-color: #9ad3bd;
      align-items: flex-start;
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      flex-direction: column;
    "
  >
    <div class="header">
      <ion-chip class="score">
        <ion-avatar>
          <img style="background-color: white" src="../../assets/score.png" />
        </ion-avatar>
        <ion-label style="width: 45px; text-align: right; color: #f3eac2"
          >{{reward}}</ion-label
        >
      </ion-chip>
        <img (click)="toCategory()"
          src="../../assets/close.png"
        />
    </div>

    <div
      style="
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 32px;
      "
    >
      <img style="background-color: white; width: 60%" src="{{soalImage}}" />
    </div>
  </div>

  <div
    style="
      display: flex;
      height: 50%;
      padding: 32px 24px 32px 24px;
      flex-direction: column;
      align-items: center;
      width: 100%;
    "
  >
    <center><ion-label style="font-size: 18px; margin-bottom: 12px;">{{soal}}</ion-label></center>

    <div style="margin-top : 12px; display: flex; flex-direction: row; width: 100%;">
      <div style="width: 50%">
        <ion-button (click)="jawabSoal(pilihan[0])" style="width: 100%; height: 42px; font-size: 14px; color : #142850;"
          >A. {{pilihan[0]}}</ion-button
        >
      </div>
      <div style="width: 50%; margin-left: 12px">
        <ion-button (click)="jawabSoal(pilihan[1])" style="width: 100%; height: 42px; font-size: 14px; color : #142850;"
          >B. {{pilihan[1]}}</ion-button
        >
      </div>
    </div>
    <div
      style="
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 8px;
        margin-bottom: 20px;
      "
    >
      <div style="width: 50%">
        <ion-button (click)="jawabSoal(pilihan[2])" style="width: 100%; height: 42px; font-size: 14px; color : #142850;"
          >C. {{pilihan[2]}}</ion-button
        >
      </div>
      <div style="width: 50%; margin-left: 12px">
        <ion-button (click)="jawabSoal(pilihan[3])" style="width: 100%; height: 42px; font-size: 14px; color : #142850;"
          >D. {{pilihan[3]}}</ion-button
        >
      </div>
    </div>

    <div>
      <center>
        <ion-button [hidden]=prevHidden (click)="kembali()" style= "font-size: 12px; margin-bottom: 12px;">Kembali</ion-button>
        <ion-button [hidden]=nextHidden (click)="lewati()" style= "font-size: 12px; margin-bottom: 12px;">Lewati</ion-button>
      </center>
    </div>
    

    <ion-label [hidden]=isFalse style="font-size: 14px; color: #ec524b"
      >Jawban kamu salah! Ayo coba lagi</ion-label
    >
    <ion-label [hidden]=isTrue style="font-size: 14px; color: #19c680; text-align: center"
      >Wow keren! Jawaban kamu sudah benar!</ion-label
    >
  </div>
</ion-content>
